In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pymannkendall as mk
plt.rcParams['figure.figsize']=(12,8)

In [2]:
def replace_string(data, column):
    k_columns = data[data[column].str.contains("K")]
    k_columns = k_columns.loc[k_columns[column]!='K']
    k_columns[column] = k_columns[column].str.strip('K').astype('float') * 1000
    m_columns = data[data[column].str.contains("M")]
    m_columns = m_columns.loc[m_columns[column]!='M']
    m_columns[column] = m_columns[column].str.strip('M').astype('float') * 1e6
    b_columns = data[data[column].str.contains("B")]
    b_columns = b_columns.loc[b_columns[column]!='B']
    b_columns[column] = b_columns[column].str.strip('B').astype('float') * 1e9
    columns = pd.concat([k_columns, m_columns, b_columns], axis=0)
    
    columns = columns.sort_index()
    
    return columns

In [3]:
%%time
storm_events = []
init_path = '/Users/allanbellahsene/Desktop/THESIS/DATA/NCFEI/StormEvents_'
for years in list(np.arange(1962,2020)):
    path = init_path + str(years) + '.csv'
    storm_data = pd.read_csv(path, usecols=['BEGIN_DAY', 'MONTH_NAME', 'YEAR', 'STATE', 'DAMAGE_PROPERTY', 'DAMAGE_CROPS', 'EVENT_TYPE', 'EPISODE_ID', 'EVENT_ID', 'DEATHS_DIRECT', 'DEATHS_INDIRECT'])
    storm_data.index = pd.to_datetime(storm_data['BEGIN_DAY'].astype('str')+ '-' + storm_data['MONTH_NAME'] + '-' + storm_data.YEAR.astype('str'))
    storm_data = storm_data[['STATE', 'DAMAGE_PROPERTY', 'DAMAGE_CROPS', 'DEATHS_DIRECT', 'DEATHS_INDIRECT', 'EVENT_TYPE', 'EVENT_ID', 'EPISODE_ID']] #keep only relevant columns
    storm_data.dropna(inplace=True) #drop missing values
    storm_data.sort_index(inplace=True) #sort data by date
    storm_events.append(storm_data)
    #print(years)
STORMS = pd.concat([storm_events[0], storm_events[1]], axis=0)
for i in range(2, len(storm_events)):
    STORMS = pd.concat([STORMS, storm_events[i]], axis=0)
print(STORMS.shape)
df = STORMS
df['DAMAGE_PROPERTY'] = df['DAMAGE_PROPERTY'].astype('str')
df['DAMAGE_CROPS'] = df['DAMAGE_CROPS'].astype('str')
STORMS = df
STORMS = STORMS.loc[((STORMS.DAMAGE_PROPERTY!='0') & (STORMS.DAMAGE_CROPS =='0')) | ((STORMS.DAMAGE_PROPERTY=='0') & (STORMS.DAMAGE_CROPS !='0')) | ((STORMS.DAMAGE_PROPERTY!='0') & (STORMS.DAMAGE_CROPS !='0'))]
STORMS = STORMS.loc[STORMS.DAMAGE_PROPERTY!='K'] #delete rows that only contain "K"
STORMS = STORMS.loc[STORMS.DAMAGE_CROPS!='K']
STORMS = replace_string(STORMS, 'DAMAGE_PROPERTY')
STORMS = replace_string(STORMS, 'DAMAGE_CROPS')
STORMS['TOTAL_DAMAGES'] = STORMS['DAMAGE_PROPERTY'] + STORMS['DAMAGE_CROPS']
STORMS['Date'] = STORMS.index
STORMS = STORMS[['Date','STATE', 'DAMAGE_PROPERTY', 'DAMAGE_CROPS', 'TOTAL_DAMAGES', 'DEATHS_DIRECT', 'DEATHS_INDIRECT', 'EVENT_TYPE', 'EVENT_ID', 'EPISODE_ID']]
df = STORMS.groupby(['STATE', 'Date']).agg({'TOTAL_DAMAGES':sum})
STORMS = STORMS.loc[STORMS['TOTAL_DAMAGES']!=0]
States = list(STORMS.STATE.unique())

(708372, 8)
CPU times: user 18.8 s, sys: 2.4 s, total: 21.2 s
Wall time: 22.1 s

# I. Ranking federal states per climate-risk exposure

In [331]:
clim_data = STORMS.loc[(STORMS.index>='1996-01-01') & (STORMS.STATE=='FLORIDA')]

In [333]:
clim_data = clim_data[['STATE', 'TOTAL_DAMAGES']]

In [334]:
clim_data

              STATE  TOTAL_DAMAGES
1996-01-02  FLORIDA         1500.0
1996-01-02  FLORIDA         5000.0
1996-01-02  FLORIDA         2000.0
1996-01-02  FLORIDA         1500.0
1996-01-03  FLORIDA       100000.0
...             ...            ...
2019-10-19  FLORIDA         1000.0
2019-10-22  FLORIDA         1000.0
2019-10-22  FLORIDA         1500.0
2019-10-29  FLORIDA         3000.0
2019-12-17  FLORIDA         2000.0

[3996 rows x 2 columns]

In [4]:
def seasonal_trend_ranking(data, type_damage, type_disaster, min_date, max_date):
    import pymannkendall as mk
    import pandas as pd
    import numpy as np

    States = list(data.STATE.unique())
    data_ = data.loc[(data.index>=min_date) & (data.index<=max_date)]
    
    if type_disaster == 'All':
        data_ =  data_
    else:
        data_ = data_.loc[data_.EVENT_TYPE==type_disaster]
    
    ranking = []
    for state in States:
        df = data_.loc[data_.STATE==state]
        df = df.resample('M', on='Date').sum()
        if len(df) < 10:
            pass
        else:
            df = df[type_damage]
            trend,h,p,z,Tau,s,var_s,slope,intercept = mk.seasonal_test(df, period=12)
        #sen_slope = scipy.stats.mstats.theilslopes(df)[0]
            sen_slope = mk.seasonal_sens_slope(df.values, period=12)[0]
            ranking.extend((state, trend, sen_slope, Tau, p))
    n = int(len(ranking)/5)
    ranking = np.array(ranking).reshape((n, 5))
    ranking = pd.DataFrame(data=ranking, columns=['State', 'Trend', 'Sen Slope', 'Kendall Tau', 'P-value'])
    for columns in ['Sen Slope', 'Kendall Tau', 'P-value']:
        ranking[columns] = ranking[columns].astype('float')
    ranking.sort_values(by='Sen Slope', inplace=True, ascending=False)
    ranking.reset_index(inplace=True)
    ranking.drop(columns=['index'], inplace=True)
    
    ranking = ranking.loc[ranking['P-value']<0.05]
    
    return ranking

In [5]:
def trend_ranking(data, type_damage, type_disaster, min_date, max_date, frequency):
    import pymannkendall as mk
    import pandas as pd
    import numpy as np
    import scipy
    States = list(data.STATE.unique())
    data_ = data.loc[(data.index>=min_date) & (data.index<=max_date)]
    
    if type_disaster == 'All':
        data_ =  data_
    else:
        data_ = data_.loc[data_.EVENT_TYPE==type_disaster]
    
    ranking = []
    
    for state in States:
        df = data_.loc[data_.STATE==state]
        df = df.resample(frequency, on='Date').sum()
        if len(df) < 2:
            pass
        else:
            df = df[type_damage]
            trend,h,p,z,Tau,s,var_s,slope,intercept = mk.original_test(df)
            sen_slope = scipy.stats.mstats.theilslopes(df)[0]
            ranking.extend((state, trend, sen_slope, Tau, p))
    n = int(len(ranking)/5)
    ranking = np.array(ranking).reshape((n, 5))
    ranking = pd.DataFrame(data=ranking, columns=['State', 'Trend', 'Sen Slope', 'Kendall Tau', 'P-value'])
    for columns in ['Sen Slope', 'Kendall Tau', 'P-value']:
        ranking[columns] = ranking[columns].astype('float')
    ranking.sort_values(by='Sen Slope', inplace=True, ascending=False)
    ranking.reset_index(inplace=True)
    ranking.drop(columns=['index'], inplace=True)
    
    return ranking

In [6]:
def VaR_ranking(data, type_damage, type_disaster, min_date, max_date, alpha):
    
    import pandas as pd
    import numpy as np
    
    States = list(data.STATE.unique())
    data_ = data.loc[(data.index>=min_date) & (data.index<=max_date)]
    
    if type_disaster == 'All':
        data_ =  data_
    else:
        data_ = data_.loc[data_.EVENT_TYPE==type_disaster]
    
    ranking = []
    
    for state in States:
        df = data_.loc[data_.STATE==state][type_damage]
        #if len(df) < 2:
         #   pass
        #else:
        VaR = df.quantile(alpha)
        ranking.extend((state, VaR, len(df)))
    n = int(len(ranking)/3)
    ranking = np.array(ranking).reshape((n, 3))
    ranking = pd.DataFrame(data=ranking, columns=['State', 'Value-at-Risk (VaR)', 'Number of events'])
    ranking['Value-at-Risk (VaR)'] = ranking['Value-at-Risk (VaR)'].astype('float')
    ranking['Number of events'] = ranking['Number of events'].astype('float')
    ranking.sort_values(by='Value-at-Risk (VaR)', inplace=True, ascending=False)
    ranking.reset_index(inplace=True)
    ranking.drop(columns=['index'], inplace=True)
    
    return ranking

In [7]:
def AverageLoss_ranking(data, type_damage, type_disaster, min_date, max_date):
    import pandas as pd
    import numpy as np
    
    States = list(data.STATE.unique())
    data_ = data.loc[(data.index>=min_date) & (data.index<=max_date)]
    
    if type_disaster == 'All':
        data_ =  data_
    else:
        data_ = data_.loc[data_.EVENT_TYPE==type_disaster]
    
    ranking = []
    
    for state in States:
        df = data_.loc[data_.STATE==state][type_damage]
        #if len(df) < 2:
         #   pass
        #else:
        avg_loss = df.mean()
        ranking.extend((state, avg_loss, len(df)))
    n = int(len(ranking)/3)
    ranking = np.array(ranking).reshape((n, 3))
    ranking = pd.DataFrame(data=ranking, columns=['State', 'Average Loss', 'Number of events'])
    ranking['Average Loss'] = ranking['Average Loss'].astype('float')
    ranking['Number of events'] = ranking['Number of events'].astype('float')
    ranking.sort_values(by='Average Loss', inplace=True, ascending=False)
    ranking.reset_index(inplace=True)
    ranking.drop(columns=['index'], inplace=True)
    
    return ranking

In [8]:
def TotalLoss_ranking(data, type_damage, type_disaster, min_date, max_date):
    import pandas as pd
    import numpy as np
    
    States = list(data.STATE.unique())
    data_ = data.loc[(data.index>=min_date) & (data.index<=max_date)]
    
    if type_disaster == 'All':
        data_ =  data_
    else:
        data_ = data_.loc[data_.EVENT_TYPE==type_disaster]
        
    ranking = []
    
    for state in States:
        df = data_.loc[data_.STATE==state][type_damage]
        #if len(df) < 2:
         #   pass
        #else:
        loss = df.sum()
        ranking.extend((state, loss))
            
    n = int(len(ranking)/2)
    ranking = np.array(ranking).reshape((n, 2))
    ranking = pd.DataFrame(data=ranking, columns=['State', 'Total Loss'])
    ranking['Total Loss'] = ranking['Total Loss'].astype('float')
    ranking.sort_values(by='Total Loss', inplace=True, ascending=False)
    ranking.reset_index(inplace=True)
    ranking.drop(columns=['index'], inplace=True)
    
    return ranking

In [9]:
def rank_states(data, method, type_damage, type_disaster, min_date, max_date, alpha):
    if method == 'VaR':
        ranking = VaR_ranking(data, type_damage, type_disaster, min_date, max_date, alpha)
    elif method == 'Average Loss':
        ranking = AverageLoss_ranking(data, type_damage, type_disaster, min_date, max_date)
    elif method == 'Total Loss':
        ranking = TotalLoss_ranking(data, type_damage, type_disaster, min_date, max_date)
    else:
        print('This ranking method is not available.')
    
    return ranking

In [9]:
rank_states(STORMS, 'Total Loss', 'TOTAL_DAMAGES', 'All', '1996-01-01', '2000-01-01', alpha=None)

             State    Total Loss
0   NORTH CAROLINA  5.608862e+09
1      PUERTO RICO  2.107000e+09
2            TEXAS  2.045338e+09
3          FLORIDA  1.177366e+09
4         NEBRASKA  4.685286e+08
..             ...           ...
59     CONNECTICUT  0.000000e+00
60           MAINE  0.000000e+00
61   NEW HAMPSHIRE  0.000000e+00
62  AMERICAN SAMOA  0.000000e+00
63   LAKE SUPERIOR  0.000000e+00

[64 rows x 2 columns]

In [339]:
ranking = rank_states(STORMS, 'Total Loss', 'TOTAL_DAMAGES', 'All', '1996-01-01', '2015-01-01', alpha=None)
ranking.iloc[:50]

             State    Total Loss
0       NEW JERSEY  2.643020e+10
1          FLORIDA  2.263706e+10
2            TEXAS  1.785612e+10
3      MISSISSIPPI  1.180290e+10
4          ALABAMA  9.067434e+09
5             IOWA  8.293053e+09
6       CALIFORNIA  7.907358e+09
7   NORTH CAROLINA  7.560717e+09
8         MISSOURI  6.158765e+09
9        LOUISIANA  5.040333e+09
10       TENNESSEE  5.038767e+09
11        OKLAHOMA  4.763677e+09
12        ILLINOIS  4.735161e+09
13        ARKANSAS  3.171619e+09
14            OHIO  2.951118e+09
15        MICHIGAN  2.926231e+09
16        NEBRASKA  2.782551e+09
17       WISCONSIN  2.747199e+09
18         GEORGIA  2.625467e+09
19     PUERTO RICO  2.430967e+09
20        NEW YORK  2.185480e+09
21        COLORADO  2.099863e+09
22         INDIANA  2.036059e+09
23         ARIZONA  1.625715e+09
24         VERMONT  1.465138e+09
25        VIRGINIA  1.388164e+09
26          KANSAS  1.375448e+09
27      WASHINGTON  1.209781e+09
28       MINNESOTA  1.126552e+09
29        KENTUCKY  1.067983e+09
30    NORTH DAKOTA  8.732209e+08
31    PENNSYLVANIA  6.862111e+08
32   MASSACHUSETTS  6.199285e+08
33           IDAHO  6.089744e+08
34          OREGON  4.697350e+08
35    SOUTH DAKOTA  3.996672e+08
36            UTAH  3.966635e+08
37        MARYLAND  3.823934e+08
38   WEST VIRGINIA  2.727682e+08
39         MONTANA  2.453037e+08
40            GUAM  2.393410e+08
41      NEW MEXICO  2.303328e+08
42          ALASKA  1.824295e+08
43  SOUTH CAROLINA  1.659780e+08
44          NEVADA  1.522784e+08
45           MAINE  1.516953e+08
46   NEW HAMPSHIRE  1.490467e+08
47  AMERICAN SAMOA  1.460920e+08
48     CONNECTICUT  1.240766e+08
49         WYOMING  1.127348e+08

In [10]:
AverageLoss_ranking(STORMS, 'TOTAL_DAMAGES', 'All', '1997-01-01', '1998-01-01')

             State  Average Loss  Number of events
0           OREGON  4.140000e+07               2.0
1         OKLAHOMA  8.500000e+06               1.0
2     NORTH DAKOTA  4.212000e+06               5.0
3           HAWAII  4.100000e+06               1.0
4        WISCONSIN  3.771611e+06              27.0
..             ...           ...               ...
59    LAKE ONTARIO           NaN               0.0
60  ATLANTIC NORTH           NaN               0.0
61   LAKE ST CLAIR           NaN               0.0
62       LAKE ERIE           NaN               0.0
63   LAKE SUPERIOR           NaN               0.0

[64 rows x 3 columns]

In [11]:
VaR_ranking(STORMS, 'TOTAL_DAMAGES', 'All', '1996-01-01', '1997-01-01', 0.95)

             State  Value-at-Risk (VaR)  Number of events
0   NORTH CAROLINA          117700000.0              38.0
1           OREGON           67550000.0               3.0
2            TEXAS           19103000.0             227.0
3        WISCONSIN           18500000.0              41.0
4   SOUTH CAROLINA           17225000.0               6.0
..             ...                  ...               ...
59    LAKE ONTARIO                  NaN               0.0
60  ATLANTIC NORTH                  NaN               0.0
61   LAKE ST CLAIR                  NaN               0.0
62       LAKE ERIE                  NaN               0.0
63   LAKE SUPERIOR                  NaN               0.0

[64 rows x 3 columns]

In [40]:
trends = trend_ranking(STORMS, 'TOTAL_DAMAGES', 'All', '1996-01-01', '2010-01-01', 'M')
trends

                   State       Trend    Sen Slope  Kendall Tau       P-value
0                  TEXAS  increasing  4455.445545     0.128418  1.268556e-02
1               DELAWARE  increasing  1666.666667     0.290148  9.520338e-03
2               KENTUCKY  increasing   296.296296     0.249372  1.390909e-06
3               MICHIGAN  increasing   153.846154     0.286271  3.049455e-09
4   DISTRICT OF COLUMBIA    no trend   100.000000     0.242424  1.016059e-01
5         SOUTH CAROLINA  increasing     0.000000     0.244536  8.056583e-09
6               MARYLAND  increasing     0.000000     0.250134  2.115418e-09
7                MONTANA  increasing     0.000000     0.201808  1.452288e-06
8                 OREGON  increasing     0.000000     0.215826  2.514008e-08
9               OKLAHOMA  increasing     0.000000     0.383655  1.332268e-15
10            WASHINGTON  increasing     0.000000     0.255920  4.174100e-09
11                  GUAM    no trend     0.000000     0.011479  7.440063e-01
12            NEW MEXICO  increasing     0.000000     0.249262  1.475235e-09
13                  UTAH    no trend     0.000000    -0.068565  1.581020e-01
14         MASSACHUSETTS  increasing     0.000000     0.324596  1.332268e-15
15                NEVADA  increasing     0.000000     0.282037  1.543876e-12
16               FLORIDA  increasing     0.000000     0.247149  1.193211e-07
17                ALASKA  increasing     0.000000     0.272966  3.455517e-09
18                 IDAHO  increasing     0.000000     0.260658  5.821707e-09
19           PUERTO RICO  increasing     0.000000     0.219499  7.916024e-07
20              COLORADO  increasing     0.000000     0.220833  4.470042e-07
21        AMERICAN SAMOA    no trend     0.000000     0.008518  7.832259e-01
22         NEW HAMPSHIRE    no trend     0.000000     0.030702  7.342893e-01
23                 MAINE    no trend     0.000000     0.117794  1.779171e-01
24           CONNECTICUT    no trend     0.000000     0.118758  2.745294e-01
25        VIRGIN ISLANDS    no trend     0.000000    -0.013258  8.808508e-01
26          RHODE ISLAND    no trend     0.000000    -0.120108  2.565451e-01
27             E PACIFIC    no trend     0.000000     0.014245  8.777011e-01
28        GULF OF MEXICO    no trend     0.000000    -0.156322  1.522914e-01
29         LAKE MICHIGAN    no trend     0.000000    -0.014245  8.777011e-01
30               ARIZONA  increasing     0.000000     0.221692  4.415160e-07
31               VERMONT  increasing     0.000000     0.266152  2.096545e-12
32            NEW JERSEY  increasing     0.000000     0.294024  9.170442e-14
33              MISSOURI  increasing     0.000000     0.216709  5.775175e-06
34                KANSAS  increasing     0.000000     0.183847  1.795372e-04
35              VIRGINIA  increasing     0.000000     0.139222  2.762473e-03
36               INDIANA  increasing     0.000000     0.256843  4.563238e-09
37             LOUISIANA  increasing     0.000000     0.285503  2.688672e-11
38              NEW YORK  increasing     0.000000     0.276064  1.845800e-09
39         WEST VIRGINIA  increasing     0.000000     0.218420  2.396873e-08
40            CALIFORNIA  increasing     0.000000     0.196036  4.551468e-05
41                HAWAII    no trend     0.000000    -0.024994  1.918921e-01
42              ARKANSAS  increasing     0.000000     0.366196  0.000000e+00
43               GEORGIA  increasing     0.000000     0.217890  5.087215e-06
44          PENNSYLVANIA  increasing     0.000000     0.318949  5.440093e-14
45             TENNESSEE    no trend     0.000000     0.084257  8.211090e-02
46             WISCONSIN  increasing     0.000000     0.115353  1.796554e-02
47              ILLINOIS  increasing     0.000000     0.313821  1.275202e-12
48        NORTH CAROLINA  increasing     0.000000     0.197561  2.083292e-05
49          NORTH DAKOTA  increasing     0.000000     0.151062  3.679832e-04
50              NEBRASKA    no trend     0.000000     0.019017  7.083934e-01
51                  IOWA  increasing     0.000000     0.144097  4.683934e-03
52          SOUTH DAKOTA  increasing     0.000000     0.142825  4.966693e-04
53             MINNESOTA  increasing     0.000000     0.096065  3.257709e-02
54                  OHIO  increasing     0.000000     0.224538  8.493498e-07
55           MISSISSIPPI  increasing     0.000000     0.338433  1.398881e-14
56               WYOMING  increasing     0.000000     0.183675  5.253747e-06
57               ALABAMA    no trend  -130.724539    -0.061377  2.361316e-01
58        ATLANTIC NORTH    no trend -2350.000000    -0.444444  1.003482e-01

# II. Test if there is a correlation between companies performance and geographical exposure to climate risks

In [4]:
#Financial fundamental data

fundamentals = pd.read_csv('/Users/allanbellahsene/Desktop/THESIS/DATA/WHARTON_DATABASE/Funda_data.csv')
fundamentals[['Date']] = fundamentals[['datadate']].applymap(str).applymap(lambda s: "{}/{}/{}".format(s[4:6],s[6:], s[0:4]))
fundamentals.Date = pd.to_datetime(fundamentals.Date)

In [5]:
fin_data = fundamentals
data = fin_data.loc[fin_data.naics.astype('str').str.startswith(sector)]
data = data[['gvkey', 'fqtr', 'tic', 'conm', 'atq', 'niq', 'loc', 'state', 'naics', 'Date']]
data.index = data.Date
data = data.loc[data['loc'] == 'USA'] #keep only companies with headquarters in the US
us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'American Samoa': 'AS',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Guam': 'GU',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY'
}
abbrev_us_state = dict(map(reversed, us_state_abbrev.items()))
data['State'] = data['state'].map(abbrev_us_state)
data.State = data.State.str.upper()
data['ROA'] = data['niq'] / data['atq']
data = data.loc[abs(data.ROA)<2]
data = data[['gvkey', 'tic', 'conm', 'ROA','State']]

NameError: name 'sector' is not defined

In [ ]:
data

In [ ]:
data['ROA'] = data['niq'] / data['atq']
data = data.loc[abs(data.ROA)<2]
data = data[['gvkey', 'tic', 'conm', 'ROA','State']]
df = data.loc[(data.index>=start_date) & (data.index<=end_date)]
companies = list(df.conm.unique())
ROA=[]
for comp in companies:
    subdf = df.loc[df.conm==comp]
    state = subdf.State.iloc[0]
    ROA.extend((state, subdf.ROA.mean()))
n = len(ROA)
ROA = np.array(ROA).reshape((int(n/2), 2))
ROA = pd.DataFrame(ROA, columns=['State', 'Mean ROA'])
ROA['Mean ROA'] = ROA['Mean ROA'].astype('float')
ROA = ROA.groupby(['State']).mean()

In [51]:
def ProfitabilityPerState(fin_data, sector, start_date, end_date):
    data = fin_data.loc[fin_data.naics.astype('str').str.startswith(sector)]
    data = data[['gvkey', 'fqtr', 'tic', 'conm', 'atq', 'niq', 'loc', 'state', 'naics', 'Date']]
    data.index = data.Date
    data = data.loc[data['loc'] == 'USA'] #keep only companies with headquarters in the US
    
    us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'American Samoa': 'AS',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Guam': 'GU',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY'
    }
    abbrev_us_state = dict(map(reversed, us_state_abbrev.items()))
    data['State'] = data['state'].map(abbrev_us_state)
    data.State = data.State.str.upper()
    data['ROA'] = data['niq'] / data['atq']
    data = data.loc[abs(data.ROA)<2]
    data = data[['gvkey', 'tic', 'conm', 'ROA','State']]
    df = data.loc[(data.index>=start_date) & (data.index<=end_date)]
    companies = list(df.conm.unique())
    ROA=[]
    for comp in companies:
        subdf = df.loc[df.conm==comp]
        state = subdf.State.iloc[0]
        ROA.extend((state, subdf.ROA.mean()))
    n = len(ROA)
    ROA = np.array(ROA).reshape((int(n/2), 2))
    ROA = pd.DataFrame(ROA, columns=['State', 'Mean ROA'])
    ROA['Mean ROA'] = ROA['Mean ROA'].astype('float')
    ROA = ROA.groupby(['State']).mean()
    ROA = ROA.sort_values(by='Mean ROA')
    
    return ROA

In [57]:
ROA1 = ProfitabilityPerState(fin_data=fundamentals, sector='11', start_date='1996-01-01', end_date='1997-01-01')

In [56]:
ROA2 = ProfitabilityPerState(fin_data=fundamentals, sector='11', start_date='1997-01-01', end_date='1998-01-01')

In [106]:
ranking = rank_states(data=STORMS, method='Total Loss', type_damage='TOTAL_DAMAGES', type_disaster='All', min_date='1996-01-01', max_date='2020-01-01', alpha=0.99)

In [107]:
prof = ProfitabilityPerState(fin_data=fundamentals, sector='11', start_date='1996-01-01', end_date='2020-01-01')

In [113]:
states = list(prof.index)
ranking = ranking.loc[ranking.State.isin(states)]
best_states = ranking.State.iloc[-5:]
worst_states= ranking.State.iloc[:5]
best_ROA = prof.loc[prof.index.isin(best_states)]['Mean ROA'].mean()
worst_ROA = prof.loc[prof.index.isin(worst_states)]['Mean ROA'].mean()

In [114]:
best_ROA

-0.013297271103049235

In [115]:
worst_ROA

-0.19254415612883155

In [105]:
rank_states(data=STORMS, method='Total Loss', type_damage='TOTAL_DAMAGES', type_disaster='All', min_date='1996-01-01', max_date='2020-01-01', alpha=0.99)

            State    Total Loss
0           TEXAS  7.373794e+10
1         FLORIDA  3.457306e+10
2      CALIFORNIA  2.688310e+10
3      NEW JERSEY  2.649531e+10
4     PUERTO RICO  2.145991e+10
..            ...           ...
59      E PACIFIC  1.890100e+05
60  LAKE ST CLAIR  1.000000e+05
61      LAKE ERIE  3.000000e+04
62   LAKE ONTARIO  2.500000e+04
63  LAKE SUPERIOR  1.000000e+04

[64 rows x 2 columns]

In [14]:
def ClimateRisk_Perf_Corr(fin_data, clim_data, sector, type_disaster, min_date, max_date):
    from sklearn.preprocessing import MinMaxScaler

    
    data = fin_data.loc[fin_data.naics.astype('str').str.startswith(sector)]
    data = data[['gvkey', 'fqtr', 'tic', 'conm', 'atq', 'niq', 'loc', 'state', 'naics', 'Date']]
    data.index = data.Date
    data = data.loc[data['loc'] == 'USA'] #keep only utility companies with headquarters in the US
    comp_names = list(data.conm.unique()) 
    comp_gvkey = list(data.gvkey.unique())
    data_states = list(data.state.unique())
    
    us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'American Samoa': 'AS',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Guam': 'GU',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY'
    }
    abbrev_us_state = dict(map(reversed, us_state_abbrev.items()))
    data['State'] = data['state'].map(abbrev_us_state)
    data.State = data.State.str.upper()
    data['ROA'] = data['niq'] / data['atq']
    data = data.loc[abs(data.ROA)<2]
    data = data[['gvkey', 'tic', 'conm', 'ROA','State']]
    ranking = TotalLoss_ranking(clim_data, 'TOTAL_DAMAGES', type_disaster, min_date, max_date)
    df = data.loc[(data.index>=min_date) & (data.index<=max_date)]
    ranking = ranking.loc[ranking.State.isin(list(df.State.unique()))]
    ROA = []
    companies = list(df.conm.unique())
    l = len(companies)
    for comp in companies:
        subdf = df.loc[df.conm==comp]
        mean_roa = subdf.ROA.mean()
        state = subdf.State.iloc[0]
        ROA.extend((comp, mean_roa, state))
    n = len(ROA)
    ROA = np.array(ROA).reshape((int(n/3), 3))
    ROA = pd.DataFrame(ROA, columns=['Company', 'Mean ROA', 'Location'])
    ROA['Mean ROA'] = ROA['Mean ROA'].astype('float')
    ROA = ROA.groupby(['Location']).mean()
    ranking.index = ranking.State
    scaler = MinMaxScaler()
    r = np.array(scaler.fit_transform(ranking['Total Loss'].values.reshape(-1,1)))
    ranking['Climate Risk'] = r
    y = pd.merge(ranking['Climate Risk'], ROA, right_index=True, left_index=True)
    corr = y['Climate Risk'].corr(y['Mean ROA'])
    #y.plot.scatter(x='Climate Risk', y='Mean ROA')
    q1 = y.iloc[:5]['Mean ROA'].mean()
    q2 = y.iloc[-5:]['Mean ROA'].mean()
    
    n = len(list(df.State.unique()))
    
    return corr, n, l, q1, q2

In [15]:
corr, n, l, q1, q2 = ClimateRisk_Perf_Corr(fin_data=fundamentals, clim_data=STORMS, sector='11', type_disaster='All', min_date='1996-01-01', max_date='2020-01-01')
print(' Correlation: ' + str(corr), 'Average ROA of 5 best states: ' + str(q2), ' Average ROA of 5 worst states: ' + str(q1))

 Correlation: -0.6456156844786822 Average ROA of 5 best states: -0.013297271103049235  Average ROA of 5 worst states: -0.19254415612883155

In [16]:
import datetime
ROA = []
for dates in list(np.arange(1996, 2019)):
    start_date = str(dates) + '-01-01'
    end_date = datetime.datetime.strptime(start_date, '%Y-%m-%d') + datetime.timedelta(days=365)
    end_date = str(end_date)[0:10]
    corr, n, l, q1, q2 = ClimateRisk_Perf_Corr(fin_data=fundamentals, clim_data=STORMS, sector='11', type_disaster='Drought', min_date=start_date, max_date=end_date)
    diff = q2-q1
    ROA.extend((start_date, end_date, q2, q1, diff))
ROA = np.array(ROA).reshape((int(len(ROA)/5), 5))
ROA = pd.DataFrame(ROA, columns=['Start date', 'End date', 'Mean ROA of best states', 'Mean ROA of worst states', 'Difference'])
for columns in ['Mean ROA of best states', 'Mean ROA of worst states', 'Difference']:
    ROA[columns] = ROA[columns].astype('float')
ROA

,Start date,End date,Mean ROA of best states,Mean ROA of worst states,Difference
0,1996-01-01,1996-12-31,0.015070,-0.067032,0.082102
1,1997-01-01,1998-01-01,0.010010,-0.020855,0.030866
2,1998-01-01,1999-01-01,0.004232,-0.019037,0.023269
3,1999-01-01,2000-01-01,0.000746,-0.012918,0.013664
4,2000-01-01,2000-12-31,-0.034254,-0.013820,-0.020434
5,2001-01-01,2002-01-01,-0.008879,-0.000023,-0.008856
6,2002-01-01,2003-01-01,-0.017845,-0.006091,-0.011755
7,2003-01-01,2004-01-01,0.003498,-0.007150,0.010648
8,2004-01-01,2004-12-31,0.013817,-0.015591,0.029408
9,2005-01-01,2006-01-01,0.020136,-0.022817,0.042953
10,2006-01-01,2007-01-01,-0.027509,-0.009426,-0.018084
11,2007-01-01,2008-01-01,-0.047431,0.029691,-0.077121
12,2008-01-01,2008-12-31,-0.021825,0.007484,-0.029309
13,2009-01-01,2010-01-01,0.014762,-0.082086,0.096848
14,2010-01-01,2011-01-01,-0.023917,-0.060975,0.037058
15,2011-01-01,2012-01-01,-0.017179,-0.099286,0.082106
16,2012-01-01,2012-12-31,0.014375,0.005525,0.008850
17,2013-01-01,2014-01-01,0.011893,-0.010028,0.021921
18,2014-01-01,2015-01-01,0.014508,-0.474844,0.489352
19,2015-01-01,2016-01-01,-0.050109,-0.134611,0.084501
20,2016-01-01,2016-12-31,0.004303,-0.172278,0.176581
21,2017-01-01,2018-01-01,-0.065020,-0.118265,0.053245
22,2018-01-01,2019-01-01,0.042934,-0.126837,0.169771

In [17]:
ROA.Difference.mean()

0.05598196646069766

In [18]:
len(ROA.loc[ROA.Difference>0])/len(ROA)

0.7391304347826086

In [87]:
import datetime
ROA = []
for dates in list(np.arange(1996, 2019)):
    start_date = str(dates) + '-01-01'
    end_date = datetime.datetime.strptime(start_date, '%Y-%m-%d') + datetime.timedelta(days=365)
    end_date = str(end_date)[0:10]
    corr, n, l, q1, q2 = ClimateRisk_Perf_Corr(fin_data=fundamentals, clim_data=STORMS, sector='23', min_date=start_date, max_date=end_date)
    diff = q2-q1
    ROA.extend((start_date, end_date, q2, q1, diff))
ROA = np.array(ROA).reshape((int(len(ROA)/5), 5))
ROA = pd.DataFrame(ROA, columns=['Start date', 'End date', 'Av. ROA of best states', 'Av. ROA of worst states', 'Difference'])
for columns in ['Av. ROA of best states', 'Av. ROA of worst states', 'Difference']:
    ROA[columns] = ROA[columns].astype('float')
ROA

,Start date,End date,Av. ROA of best states,Av. ROA of worst states,Difference
0,1996-01-01,1996-12-31,0.000945,3.451429e-02,-0.033570
1,1997-01-01,1998-01-01,0.005572,-2.785623e-01,0.284135
2,1998-01-01,1999-01-01,-0.052488,5.155139e-03,-0.057644
3,1999-01-01,2000-01-01,-0.029262,1.191531e-02,-0.041177
4,2000-01-01,2000-12-31,-0.003619,3.046398e-07,-0.003620
5,2001-01-01,2002-01-01,0.009346,-2.130128e-02,0.030647
6,2002-01-01,2003-01-01,0.009294,-2.809638e-02,0.037391
7,2003-01-01,2004-01-01,0.002340,9.838930e-03,-0.007499
8,2004-01-01,2004-12-31,0.001913,2.406064e-02,-0.022148
9,2005-01-01,2006-01-01,-0.013327,1.054318e-03,-0.014381
10,2006-01-01,2007-01-01,0.004623,1.179925e-03,0.003443
11,2007-01-01,2008-01-01,-0.017000,-1.521546e-02,-0.001784
12,2008-01-01,2008-12-31,-0.047104,-3.531443e-02,-0.011790
13,2009-01-01,2010-01-01,-0.066315,-8.307114e-03,-0.058008
14,2010-01-01,2011-01-01,0.036403,-3.200261e-02,0.068406
15,2011-01-01,2012-01-01,-0.006516,-1.666661e-01,0.160151
16,2012-01-01,2012-12-31,-0.000237,-1.558679e-02,0.015350
17,2013-01-01,2014-01-01,-0.003135,2.520427e-05,-0.003160
18,2014-01-01,2015-01-01,0.033689,-1.556971e-02,0.049258
19,2015-01-01,2016-01-01,-0.001392,-4.649896e-03,0.003258
20,2016-01-01,2016-12-31,0.043144,-1.688943e-02,0.060033
21,2017-01-01,2018-01-01,0.006181,-1.199397e-02,0.018175
22,2018-01-01,2019-01-01,0.006865,5.279297e-02,-0.045927

In [88]:
ROA.Difference.mean()

0.018675601318353264

In [89]:
len(ROA.loc[ROA.Difference>0])/len(ROA)

0.4782608695652174

In [90]:
import datetime
ROA = []
for dates in list(np.arange(1996, 2019)):
    start_date = str(dates) + '-01-01'
    end_date = datetime.datetime.strptime(start_date, '%Y-%m-%d') + datetime.timedelta(days=365)
    end_date = str(end_date)[0:10]
    corr, n, l, q1, q2 = ClimateRisk_Perf_Corr(fin_data=fundamentals, clim_data=STORMS, sector='22', min_date=start_date, max_date=end_date)
    diff = q2-q1
    ROA.extend((start_date, end_date, q2, q1, diff))
ROA = np.array(ROA).reshape((int(len(ROA)/5), 5))
ROA = pd.DataFrame(ROA, columns=['Start date', 'End date', 'Av. ROA of best states', 'Av. ROA of worst states', 'Difference'])
for columns in ['Av. ROA of best states', 'Av. ROA of worst states', 'Difference']:
    ROA[columns] = ROA[columns].astype('float')
ROA

,Start date,End date,Av. ROA of best states,Av. ROA of worst states,Difference
0,1996-01-01,1996-12-31,-0.010340,0.011136,-0.021475
1,1997-01-01,1998-01-01,0.006571,0.008220,-0.001649
2,1998-01-01,1999-01-01,0.006476,0.010072,-0.003596
3,1999-01-01,2000-01-01,0.005613,0.002764,0.002849
4,2000-01-01,2000-12-31,-0.004930,0.006542,-0.011472
5,2001-01-01,2002-01-01,0.008305,0.005048,0.003257
6,2002-01-01,2003-01-01,0.004039,0.008816,-0.004777
7,2003-01-01,2004-01-01,0.009584,0.007537,0.002047
8,2004-01-01,2004-12-31,0.004900,-0.037020,0.041920
9,2005-01-01,2006-01-01,0.006724,-0.022445,0.029169
10,2006-01-01,2007-01-01,0.003974,0.006445,-0.002471
11,2007-01-01,2008-01-01,0.004121,0.006428,-0.002306
12,2008-01-01,2008-12-31,-0.003143,0.004016,-0.007158
13,2009-01-01,2010-01-01,0.005351,0.004813,0.000538
14,2010-01-01,2011-01-01,0.002125,-0.002645,0.004770
15,2011-01-01,2012-01-01,0.012737,-0.044685,0.057422
16,2012-01-01,2012-12-31,0.006416,0.000485,0.005931
17,2013-01-01,2014-01-01,0.004831,0.005955,-0.001124
18,2014-01-01,2015-01-01,0.006272,-0.035719,0.041991
19,2015-01-01,2016-01-01,0.005790,-0.001654,0.007444
20,2016-01-01,2016-12-31,0.004734,0.004235,0.000499
21,2017-01-01,2018-01-01,0.008064,-0.017833,0.025897
22,2018-01-01,2019-01-01,0.005790,-0.022297,0.028087

In [91]:
ROA.Difference.mean()

0.008512581121921088

In [92]:
len(ROA.loc[ROA.Difference>0])/len(ROA)

0.6086956521739131

In [93]:
import datetime
ROA = []
for dates in list(np.arange(1996, 2019)):
    start_date = str(dates) + '-01-01'
    end_date = datetime.datetime.strptime(start_date, '%Y-%m-%d') + datetime.timedelta(days=365)
    end_date = str(end_date)[0:10]
    corr, n, l, q1, q2 = ClimateRisk_Perf_Corr(fin_data=fundamentals, clim_data=STORMS, sector='524126', min_date=start_date, max_date=end_date)
    diff = q2-q1
    ROA.extend((start_date, end_date, q2, q1, diff))
ROA = np.array(ROA).reshape((int(len(ROA)/5), 5))
ROA = pd.DataFrame(ROA, columns=['Start date', 'End date', 'Av. ROA of best states', 'Av. ROA of worst states', 'Difference'])
for columns in ['Av. ROA of best states', 'Av. ROA of worst states', 'Difference']:
    ROA[columns] = ROA[columns].astype('float')
ROA

,Start date,End date,Av. ROA of best states,Av. ROA of worst states,Difference
0,1996-01-01,1996-12-31,0.010220,0.012499,-0.002278
1,1997-01-01,1998-01-01,0.010485,0.015124,-0.004639
2,1998-01-01,1999-01-01,-0.005082,0.006784,-0.011866
3,1999-01-01,2000-01-01,0.000526,0.003928,-0.003403
4,2000-01-01,2000-12-31,0.007687,0.009622,-0.001935
5,2001-01-01,2002-01-01,0.010969,-0.012124,0.023093
6,2002-01-01,2003-01-01,0.004886,-0.011362,0.016248
7,2003-01-01,2004-01-01,0.001671,0.006815,-0.005144
8,2004-01-01,2004-12-31,0.007596,0.008994,-0.001397
9,2005-01-01,2006-01-01,0.009802,0.013548,-0.003746
10,2006-01-01,2007-01-01,0.013505,0.013243,0.000263
11,2007-01-01,2008-01-01,0.010024,0.006635,0.003390
12,2008-01-01,2008-12-31,0.004803,0.004938,-0.000135
13,2009-01-01,2010-01-01,0.007171,0.006896,0.000275
14,2010-01-01,2011-01-01,0.003840,0.003154,0.000686
15,2011-01-01,2012-01-01,-0.002764,-0.036305,0.033541
16,2012-01-01,2012-12-31,-0.000074,0.001843,-0.001916
17,2013-01-01,2014-01-01,0.006656,0.009337,-0.002681
18,2014-01-01,2015-01-01,0.009973,0.003132,0.006840
19,2015-01-01,2016-01-01,0.005021,0.003036,0.001986
20,2016-01-01,2016-12-31,0.004912,0.011302,-0.006390
21,2017-01-01,2018-01-01,0.004251,0.006655,-0.002404
22,2018-01-01,2019-01-01,0.004556,0.005242,-0.000686

In [94]:
ROA.Difference.mean()

0.0016392108229687562

In [95]:
len(ROA.loc[ROA.Difference>0])/len(ROA)

0.391304347826087

In [27]:
for sectors in ['7211', '11', '21', '22', '23', '42', '44', '48', '52', '53', '72']:
    corr, n, l, q1, q2 = ClimateRisk_Perf_Corr(fin_data=fundamentals, clim_data=STORMS, sector=sectors, min_date='1996-01-01', max_date='2020-01-01')
    print('Sector: ' + sectors, ' Correlation: ' + str(corr), 'Average ROA of 5 best states: ' + str(q2), ' Average ROA of 5 worst states: ' + str(q1))

Sector: 7211  Correlation: -0.048759701776071404 Average ROA of 5 best states: -0.0013519383616641587  Average ROA of 5 worst states: 0.0065263580015035546
Sector: 11  Correlation: -0.6456156844786822 Average ROA of 5 best states: -0.013297271103049235  Average ROA of 5 worst states: -0.19254415612883155
Sector: 21  Correlation: -0.17922114628895502 Average ROA of 5 best states: -0.044721978210928784  Average ROA of 5 worst states: -0.21048612051475252
Sector: 22  Correlation: -0.1999176089953097 Average ROA of 5 best states: 0.006012840377371177  Average ROA of 5 worst states: -0.02601293034558213
Sector: 23  Correlation: -0.23091428216567145 Average ROA of 5 best states: -0.02424596901195452  Average ROA of 5 worst states: -0.04553922812682323
Sector: 42  Correlation: 0.035946394247447715 Average ROA of 5 best states: -0.11277885280036518  Average ROA of 5 worst states: -0.06444253056722678
Sector: 44  Correlation: 0.01775866856783145 Average ROA of 5 best states: -0.012597952815077215  Average ROA of 5 worst states: -0.037350880187413706
Sector: 48  Correlation: 0.0665961997000087 Average ROA of 5 best states: -0.011818932748455562  Average ROA of 5 worst states: -0.0072368626574533575
Sector: 52  Correlation: -0.11037157435275523 Average ROA of 5 best states: -0.008170605772516062  Average ROA of 5 worst states: -0.011727469708716923
Sector: 53  Correlation: 0.01706884024384227 Average ROA of 5 best states: -0.0036217792631154065  Average ROA of 5 worst states: -0.0017035511430949827
Sector: 72  Correlation: 0.020856631863894068 Average ROA of 5 best states: -0.016439422703790927  Average ROA of 5 worst states: -0.02336504317429667

In [28]:
ev=[]
for events in list(STORMS.EVENT_TYPE.unique()):
    df = STORMS.loc[(STORMS.EVENT_TYPE==events) & (STORMS.index>='1996-01-01')]
    j = len(STORMS.loc[STORMS.index>='1996-01-01'])
    n = len(df)/j * 100
    ev.extend((events, n))
l = len(list(STORMS.loc[STORMS.index>='1996-01-01'].EVENT_TYPE.unique()))
ev = np.array(ev).reshape((l, 2))
ev = pd.DataFrame(data=ev, columns=['Event', 'Event dist. (%)'])
ev['Event dist. (%)'] = ev['Event dist. (%)'].astype('float')
ev = ev.sort_values(by='Event dist. (%)', ascending=False)
ev.reset_index(inplace=True)
ev.drop(columns=['index'], inplace=True)
ev

                       Event  Event dist. (%)
0          Thunderstorm Wind        46.631025
1                Flash Flood        10.640306
2                       Hail         8.102831
3                Strong Wind         6.500947
4                      Flood         6.413499
5                    Tornado         4.938811
6                  High Wind         3.866583
7                  Lightning         2.897701
8               Winter Storm         1.928820
9                    Drought         1.595425
10            Winter Weather         0.929133
11                 Ice Storm         0.743306
12                Heavy Snow         0.598719
13                  Wildfire         0.551020
14            Tropical Storm         0.545555
15          Lake-Effect Snow         0.452145
16                Heavy Rain         0.442207
17              Frost/Freeze         0.429786
18                  Blizzard         0.350785
19             Coastal Flood         0.264828
20       Hurricane (Typhoon)         0.187317
21               Debris Flow         0.104341
22           Cold/Wind Chill         0.092416
23          Storm Surge/Tide         0.089932
24   Extreme Cold/Wind Chill         0.078007
25       Tropical Depression         0.062605
26                 Landslide         0.058133
27                Dust Storm         0.056145
28           Lakeshore Flood         0.055152
29            Excessive Heat         0.049686
30                 Dense Fog         0.047202
31                Dust Devil         0.044718
32                 High Surf         0.039252
33                 Hurricane         0.037762
34        Marine Strong Wind         0.037265
35                      Heat         0.022856
36                     Sleet         0.021365
37  Marine Thunderstorm Wind         0.020868
38                    Seiche         0.015900
39                 Avalanche         0.012918
40              Freezing Fog         0.011428
41                Waterspout         0.007950
42                   Tsunami         0.007453
43          Marine High Wind         0.006956
44              Funnel Cloud         0.002484
45               Marine Hail         0.002484
46               Dense Smoke         0.000994
47          Marine Dense Fog         0.000994
48               Rip Current         0.000497
49  Marine Hurricane/Typhoon         0.000497
50          Marine Lightning         0.000497
51               Sneakerwave         0.000497

# III. Find if there is a correlation between performance and climate risk

In [213]:
#fundamentals = pd.read_csv('/Users/allanbellahsene/Desktop/THESIS/DATA/WHARTON_DATABASE/Funda_data.csv')
#fundamentals[['Date']] = fundamentals[['datadate']].applymap(str).applymap(lambda s: "{}/{}/{}".format(s[4:6],s[6:], s[0:4]))
#fundamentals.Date = pd.to_datetime(fundamentals.Date)

In [6]:
data = pd.read_csv('/Users/allanbellahsene/Desktop/THESIS/DATA/WHARTON_DATABASE/fun_data2.csv')
data[['Date']] = data[['datadate']].applymap(str).applymap(lambda s: "{}/{}/{}".format(s[4:6],s[6:], s[0:4]))
data.Date = pd.to_datetime(data.Date)
data.index = data.Date
data['Market Cap'] = data['prccq'] * data['cshtrq']
us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'American Samoa': 'AS',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Guam': 'GU',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY'
}
abbrev_us_state = dict(map(reversed, us_state_abbrev.items()))
data['State'] = data['state'].map(abbrev_us_state)
data.State = data.State.str.upper()
data['ROA'] = data['niq'] / data['atq']
#data = data.loc[abs(data.ROA)<2]
df = data[['gvkey', 'conm', 'ROA', 'prccq', 'Market Cap', 'naics', 'State']]
df = df.loc[abs(df.ROA)<5]
sectors = ['11', '22', '23']
fundamentals = df.loc[df['Market Cap']<1e9]
data = fundamentals.loc[(fundamentals.naics.astype('str').str.startswith(sectors[0]))]
for sector in sectors[1:]:
    df = fundamentals.loc[(fundamentals.naics.astype('str').str.startswith(sector))]
    data = pd.concat([data, df], axis= 0)

In [8]:
data

,gvkey,conm,ROA,prccq,Market Cap,naics,State
Date,,,,,,,
1981-11-30,1266,ALICO INC,0.055831,44.5000,2.905850e+06,111310.0,FLORIDA
1982-08-31,1266,ALICO INC,0.017322,32.0000,1.660800e+06,111310.0,FLORIDA
1982-11-30,1266,ALICO INC,0.009589,36.0000,1.839600e+06,111310.0,FLORIDA
1983-02-28,1266,ALICO INC,0.062897,43.5000,2.705700e+06,111310.0,FLORIDA
1983-05-31,1266,ALICO INC,0.025911,41.0000,1.205400e+06,111310.0,FLORIDA
...,...,...,...,...,...,...,...
2018-12-31,279431,RENESOLA LTD,-0.011861,1.1900,3.691134e+06,237130.0,CONNECTICUT
2019-03-31,279431,RENESOLA LTD,-0.012869,1.6908,3.508074e+06,237130.0,CONNECTICUT
2019-06-30,279431,RENESOLA LTD,0.012612,1.2800,1.634921e+06,237130.0,CONNECTICUT
2019-09-30,279431,RENESOLA LTD,0.007093,1.4900,8.430845e+06,237130.0,CONNECTICUT
2019-12-31,279431,RENESOLA LTD,-0.034193,1.4150,5.005323e+06,237130.0,CONNECTICUT

In [9]:
len(data.State.unique())

50

In [10]:
len(data.conm.unique())

952

In [11]:
df = data
l_comp = len(df.conm.unique())
States = list(df.State.unique())
dist=[]
for state in States:
    subdf = df.loc[df.State==state]
    l = len(subdf.conm.unique())
    dist.extend((state, l))
dist = np.array(dist).reshape(int(len(dist)/2), 2)
dist = pd.DataFrame(dist, columns=['State', 'Number of companies'])
dist['Number of companies'] = dist['Number of companies'].astype("float")
dist = dist.sort_values(by='Number of companies', ascending=False)

In [12]:
dist.reset_index(inplace=True)
dist.drop(columns=['index'], inplace=True)
dist

                   State  Number of companies
0                  TEXAS                 83.0
1             CALIFORNIA                 80.0
2                FLORIDA                 53.0
3               NEW YORK                 48.0
4             NEW JERSEY                 32.0
5           PENNSYLVANIA                 25.0
6                ARIZONA                 25.0
7               ILLINOIS                 25.0
8                   OHIO                 22.0
9          MASSACHUSETTS                 22.0
10              COLORADO                 19.0
11           CONNECTICUT                 16.0
12               INDIANA                 16.0
13              MISSOURI                 15.0
14             MINNESOTA                 15.0
15              MICHIGAN                 14.0
16             WISCONSIN                 14.0
17        NORTH CAROLINA                 14.0
18                  IOWA                 13.0
19                NEVADA                 11.0
20                  UTAH                 10.0
21              VIRGINIA                 10.0
22               GEORGIA                 10.0
23            WASHINGTON                 10.0
24              OKLAHOMA                 10.0
25              KENTUCKY                 10.0
26                HAWAII                  9.0
27             LOUISIANA                  8.0
28         NEW HAMPSHIRE                  7.0
29             TENNESSEE                  7.0
30                OREGON                  7.0
31              MARYLAND                  6.0
32              DELAWARE                  6.0
33          RHODE ISLAND                  4.0
34           MISSISSIPPI                  4.0
35               ALABAMA                  4.0
36            NEW MEXICO                  4.0
37                 MAINE                  4.0
38          SOUTH DAKOTA                  3.0
39                 IDAHO                  3.0
40                KANSAS                  3.0
41               VERMONT                  3.0
42  DISTRICT OF COLUMBIA                  3.0
43          NORTH DAKOTA                  2.0
44        SOUTH CAROLINA                  2.0
45         WEST VIRGINIA                  2.0
46           PUERTO RICO                  1.0
47               MONTANA                  1.0
48              NEBRASKA                  1.0
49                   nan                  0.0

In [55]:
print(dist.to_latex(index=False))

\begin{tabular}{lr}
\toprule
                State &  Number of companies \\
\midrule
                TEXAS &                 83.0 \\
           CALIFORNIA &                 80.0 \\
              FLORIDA &                 53.0 \\
             NEW YORK &                 48.0 \\
           NEW JERSEY &                 32.0 \\
         PENNSYLVANIA &                 25.0 \\
              ARIZONA &                 25.0 \\
             ILLINOIS &                 25.0 \\
                 OHIO &                 22.0 \\
        MASSACHUSETTS &                 22.0 \\
             COLORADO &                 19.0 \\
          CONNECTICUT &                 16.0 \\
              INDIANA &                 16.0 \\
             MISSOURI &                 15.0 \\
            MINNESOTA &                 15.0 \\
             MICHIGAN &                 14.0 \\
            WISCONSIN &                 14.0 \\
       NORTH CAROLINA &                 14.0 \\
                 IOWA &                 13.0 \\
               NEVADA &                 11.0 \\
                 UTAH &                 10.0 \\
             VIRGINIA &                 10.0 \\
              GEORGIA &                 10.0 \\
           WASHINGTON &                 10.0 \\
             OKLAHOMA &                 10.0 \\
             KENTUCKY &                 10.0 \\
               HAWAII &                  9.0 \\
            LOUISIANA &                  8.0 \\
        NEW HAMPSHIRE &                  7.0 \\
            TENNESSEE &                  7.0 \\
               OREGON &                  7.0 \\
             MARYLAND &                  6.0 \\
             DELAWARE &                  6.0 \\
         RHODE ISLAND &                  4.0 \\
          MISSISSIPPI &                  4.0 \\
              ALABAMA &                  4.0 \\
           NEW MEXICO &                  4.0 \\
                MAINE &                  4.0 \\
         SOUTH DAKOTA &                  3.0 \\
                IDAHO &                  3.0 \\
               KANSAS &                  3.0 \\
              VERMONT &                  3.0 \\
 DISTRICT OF COLUMBIA &                  3.0 \\
         NORTH DAKOTA &                  2.0 \\
       SOUTH CAROLINA &                  2.0 \\
        WEST VIRGINIA &                  2.0 \\
          PUERTO RICO &                  1.0 \\
              MONTANA &                  1.0 \\
             NEBRASKA &                  1.0 \\
                  nan &                  0.0 \\
\bottomrule
\end{tabular}

In [316]:
def rankStatesPerROA(fin_data, clim_data, min_date, max_date):
    df = data.loc[(data.index>=min_date) & (data.index<=max_date)]
    states = list(df.State.unique())
    ROA_per_state = []
    for state in States:
        subdf = df.loc[df.State==state]
        companies = list(subdf.conm.unique())
        l = len(companies)
        ROA_per_comp = []
        for comp in companies:
            subsubdf = subdf.loc[subdf.conm==comp]
            if len(subsubdf)>2:
                mean_ROA = subsubdf.ROA.mean()
                ROA_per_comp.append(mean_ROA)
            else: 
                pass
        avg_ROA = np.mean(ROA_per_comp)
        ROA_per_state.extend((state, avg_ROA, l))

    n = len(ROA_per_state)
    ROA = np.array(ROA_per_state).reshape((int(n/3), 3))
    ROA = pd.DataFrame(ROA, columns=['State', 'Mean ROA', 'Number of companies'])
    ROA['Mean ROA'] = ROA['Mean ROA'].astype('float')
    ROA['Number of companies'] = ROA['Number of companies'].astype('float')
    ROA.dropna(inplace=True)
    ROA = ROA.sort_values(by='Mean ROA',ascending=False)
    ROA.reset_index(inplace=True)
    ROA.drop(columns=['index'], inplace=True)
    
    return ROA

In [325]:
ranking = rankStatesPerROA(fin_data=data, clim_data=STORMS, min_date='1960-01-01', max_date='2010-01-01')
ranking.loc[ranking['Number of companies']>10]

/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:3335: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:161: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

             State  Mean ROA  Number of companies
2            TEXAS  0.011329                187.0
4             IOWA  0.011260                 14.0
12       LOUISIANA  0.006640                 11.0
13       TENNESSEE  0.005574                 33.0
14        MICHIGAN  0.004919                 28.0
16  SOUTH CAROLINA  0.003870                 11.0
17       WISCONSIN  0.003696                 16.0
18         INDIANA  0.000899                 24.0
19        DELAWARE  0.000013                 11.0
20        MISSOURI -0.000525                 27.0
21            OHIO -0.002613                 49.0
22  NORTH CAROLINA -0.004146                 24.0
23        MARYLAND -0.005489                 33.0
24        KENTUCKY -0.007695                 20.0
25   MASSACHUSETTS -0.007929                 48.0
26        ILLINOIS -0.008843                 46.0
27          HAWAII -0.009828                 14.0
29         GEORGIA -0.015105                 44.0
30        VIRGINIA -0.016308                 31.0
31    PENNSYLVANIA -0.016647                 46.0
32          OREGON -0.020040                 17.0
35      NEW JERSEY -0.026569                 64.0
36       MINNESOTA -0.028389                 39.0
38        OKLAHOMA -0.032212                 21.0
39     CONNECTICUT -0.036773                 34.0
40         FLORIDA -0.038083                136.0
41      WASHINGTON -0.038713                 22.0
42         ARIZONA -0.041890                 47.0
43      CALIFORNIA -0.045120                220.0
44        NEW YORK -0.047059                143.0
46          NEVADA -0.061386                 42.0
47        COLORADO -0.083101                 47.0
49            UTAH -0.150862                 17.0

In [324]:
r = seasonal_trend_ranking(data=STORMS, type_damage='TOTAL_DAMAGES', type_disaster='All', min_date='1960-01-01', max_date='2010-01-01')
r.sort_values(by='Kendall Tau', ascending=False)

             State       Trend     Sen Slope  Kendall Tau       P-value
2         OKLAHOMA  increasing   8212.500000     0.416667  8.659740e-15
1         DELAWARE  increasing  12500.000000     0.400000  2.560113e-02
41        ARKANSAS  increasing      0.000000     0.381868  1.554312e-15
54     MISSISSIPPI  increasing      0.000000     0.368471  4.041212e-14
7    MASSACHUSETTS  increasing      0.000000     0.346244  2.997602e-14
43    PENNSYLVANIA  increasing      0.000000     0.343340  2.657874e-13
46        ILLINOIS  increasing      0.000000     0.329535  4.217071e-12
4         MICHIGAN  increasing   2636.363636     0.325301  3.303509e-10
37        NEW YORK  increasing      0.000000     0.323689  7.410117e-11
36       LOUISIANA  increasing      0.000000     0.314647  3.304468e-11
31      NEW JERSEY  increasing      0.000000     0.313535  8.286705e-13
11          NEVADA  increasing      0.000000     0.313095  2.564393e-12
19           IDAHO  increasing      0.000000     0.293388  5.642569e-09
21          ALASKA  increasing      0.000000     0.288525  2.031681e-08
30         VERMONT  increasing      0.000000     0.284323  1.120348e-11
3         KENTUCKY  increasing   3333.333333     0.281102  9.051479e-07
16      NEW MEXICO  increasing      0.000000     0.276534  7.689644e-10
53            OHIO  increasing      0.000000     0.266857  8.177344e-08
15  SOUTH CAROLINA  increasing      0.000000     0.265286  1.388577e-08
35         INDIANA  increasing      0.000000     0.264652  2.750116e-08
14        MARYLAND  increasing      0.000000     0.263314  1.203193e-08
20        COLORADO  increasing      0.000000     0.251012  1.559145e-07
32        MISSOURI  increasing      0.000000     0.250916  1.703139e-06
29         ARIZONA  increasing      0.000000     0.250243  1.538796e-07
17      WASHINGTON  increasing      0.000000     0.248683  1.454197e-07
42         GEORGIA  increasing      0.000000     0.245779  3.135999e-06
38   WEST VIRGINIA  increasing      0.000000     0.238095  2.052528e-08
33          KANSAS  increasing      0.000000     0.235348  5.551496e-06
10         FLORIDA  increasing      0.000000     0.232214  0.000000e+00
18     PUERTO RICO  increasing      0.000000     0.231534  2.871715e-06
12          OREGON  increasing      0.000000     0.224447  8.424308e-08
39      CALIFORNIA  increasing      0.000000     0.217949  3.021652e-05
47  NORTH CAROLINA  increasing      0.000000     0.215575  1.826981e-05
50            IOWA  increasing      0.000000     0.214423  4.838006e-05
13         MONTANA  increasing      0.000000     0.213563  7.879469e-07
55         WYOMING  increasing      0.000000     0.201923  4.906696e-06
48    NORTH DAKOTA  increasing      0.000000     0.174556  1.105502e-04
51    SOUTH DAKOTA  increasing      0.000000     0.167308  8.670598e-05
45       WISCONSIN  increasing      0.000000     0.157741  1.955443e-03
34        VIRGINIA  increasing      0.000000     0.150183  3.126488e-03
0            TEXAS  increasing  37000.000000     0.141798  1.258214e-02
52       MINNESOTA  increasing      0.000000     0.132692  3.065901e-03

In [269]:
ranking = rankStatesPerROA(fundamentals, STORMS, '11', '1996-01-01', '1997-01-01')

/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:3335: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:161: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

In [270]:
ranking

             State  Mean ROA  Number of companies
0      CONNECTICUT  0.070734                  1.0
1       WASHINGTON  0.040376                  2.0
2             IOWA  0.033413                  1.0
3         NEW YORK  0.033015                  5.0
4     PENNSYLVANIA  0.022981                  1.0
5      MISSISSIPPI  0.020195                  3.0
6       NEW JERSEY  0.014586                  1.0
7        MINNESOTA  0.012486                  1.0
8           HAWAII  0.011517                  2.0
9          FLORIDA  0.009196                  1.0
10      CALIFORNIA  0.009032                  7.0
11       WISCONSIN  0.002878                  1.0
12  NORTH CAROLINA -0.005329                  1.0
13        ILLINOIS -0.006564                  2.0
14     PUERTO RICO -0.014371                  1.0
15         INDIANA -0.049627                  2.0

In [273]:
r = rank_states(data=STORMS, method='Total Loss', type_damage='TOTAL_DAMAGES', type_disaster='All', min_date='1960-01-01', max_date='1997-01-01', alpha=None)
r.loc[r.State.isin(list(ranking.State.unique()))]

             State   Total Loss
0   NORTH CAROLINA  920251000.0
2        WISCONSIN  189462700.0
6             IOWA  101380000.0
10        ILLINOIS   24338500.0
12      CALIFORNIA   21234000.0
17          HAWAII   16540000.0
18      NEW JERSEY   13210000.0
22         INDIANA    9805000.0
24      WASHINGTON    7000000.0
26       MINNESOTA    3880000.0
27     MISSISSIPPI    3355600.0
28        NEW YORK    2284000.0
29    PENNSYLVANIA    1740000.0
31         FLORIDA    1330000.0
52     CONNECTICUT          0.0
56     PUERTO RICO          0.0

# IV. Portfolio Strategy with climate risk

In [42]:
data_stocks = pd.read_csv('/Users/allanbellahsene/Desktop/THESIS/DATA/WHARTON_DATABASE/Monthly_stocks.csv')

In [43]:
stocks = data_stocks.loc[data_stocks['loc'] == 'USA']
stocks

,gvkey,iid,datadate,tic,conm,prccm,trt1m,gsubind,loc,naics,state
0,1000,01,19700930,AE.2,A & E PLASTIK PAK INC,11.75,NaN,NaN,USA,NaN,NaN
1,1000,01,19701031,AE.2,A & E PLASTIK PAK INC,12.50,6.3830,NaN,USA,NaN,NaN
2,1000,01,19701130,AE.2,A & E PLASTIK PAK INC,9.00,-28.0000,NaN,USA,NaN,NaN
3,1000,01,19701231,AE.2,A & E PLASTIK PAK INC,10.00,11.1111,NaN,USA,NaN,NaN
4,1000,01,19710131,AE.2,A & E PLASTIK PAK INC,9.00,-10.0000,NaN,USA,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
6961864,332115,01,20190930,ARMP,ARMATA PHARMACEUTICALS INC,3.70,-16.8932,35201010.0,USA,325414.0,CA
6961865,332115,01,20191031,ARMP,ARMATA PHARMACEUTICALS INC,4.15,12.1622,35201010.0,USA,325414.0,CA
6961866,332115,01,20191130,ARMP,ARMATA PHARMACEUTICALS INC,4.38,5.5422,35201010.0,USA,325414.0,CA
6961867,332115,01,20191231,ARMP,ARMATA PHARMACEUTICALS INC,3.25,-25.7991,35201010.0,USA,325414.0,CA
6961868,332115,01,20200131,ARMP,ARMATA PHARMACEUTICALS INC,3.98,22.4615,35201010.0,USA,325414.0,CA

In [44]:
stocks[['Date']] = stocks[['datadate']].applymap(str).applymap(lambda s: "{}/{}/{}".format(s[4:6],s[6:], s[0:4]))
stocks.index = pd.to_datetime(stocks.Date)

/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [45]:
us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'American Samoa': 'AS',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Guam': 'GU',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY'
}

abbrev_us_state = dict(map(reversed, us_state_abbrev.items()))
stocks_data = stocks
stocks_data['State'] = stocks_data['state'].map(abbrev_us_state)
stocks_data.State = stocks_data.State.str.upper()
stocks_data = stocks_data[['conm', 'gvkey', 'naics', 'prccm','trt1m', 'State']]

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [46]:
data.head()

            gvkey       conm       ROA  prccq  Market Cap     naics    State
Date
1981-11-30   1266  ALICO INC  0.055831   44.5   2905850.0  111310.0  FLORIDA
1982-08-31   1266  ALICO INC  0.017322   32.0   1660800.0  111310.0  FLORIDA
1982-11-30   1266  ALICO INC  0.009589   36.0   1839600.0  111310.0  FLORIDA
1983-02-28   1266  ALICO INC  0.062897   43.5   2705700.0  111310.0  FLORIDA
1983-05-31   1266  ALICO INC  0.025911   41.0   1205400.0  111310.0  FLORIDA

In [47]:
gvkeys = list(data.gvkey.unique())
stocks_data = stocks_data.loc[stocks_data.gvkey.isin(gvkeys)]

In [48]:
stocks_data

                    conm   gvkey     naics    prccm    trt1m        State
Date
1971-01-31     A P S INC    1059  236210.0  17.1250      NaN        TEXAS
1971-02-28     A P S INC    1059  236210.0  17.0000  -0.7299        TEXAS
1971-03-31     A P S INC    1059  236210.0  19.0000  11.7647        TEXAS
1971-04-30     A P S INC    1059  236210.0  22.0000  15.7895        TEXAS
1971-05-31     A P S INC    1059  236210.0  20.3750  -7.3864        TEXAS
...                  ...     ...       ...      ...      ...          ...
2019-09-30  RENESOLA LTD  279431  237130.0   1.4900  54.7409  CONNECTICUT
2019-10-31  RENESOLA LTD  279431  237130.0   1.3149 -11.7517  CONNECTICUT
2019-11-30  RENESOLA LTD  279431  237130.0   1.4527  10.4799  CONNECTICUT
2019-12-31  RENESOLA LTD  279431  237130.0   1.4150  -2.5952  CONNECTICUT
2020-01-31  RENESOLA LTD  279431  237130.0   1.3095  -7.4558  CONNECTICUT

[201555 rows x 6 columns]

In [49]:
stocks = []
for comp in list(stocks_data.conm.unique()):
    subdf = stocks_data.loc[stocks_data.conm==comp]
    subdf['Monthly Return'] = subdf.prccm.pct_change()
    subdf = subdf.loc[abs(subdf['Monthly Return']) < 10]
    stocks.append(subdf)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [50]:
df = pd.concat([stocks[0], stocks[1]], axis=0)
for i in range(2, len(stocks)):
    df = pd.concat([df, stocks[i]], axis=0)
df

,conm,gvkey,naics,prccm,trt1m,State,Monthly Return
Date,,,,,,,
1971-02-28,A P S INC,1059,236210.0,17.0000,-0.7299,TEXAS,-0.007299
1971-03-31,A P S INC,1059,236210.0,19.0000,11.7647,TEXAS,0.117647
1971-04-30,A P S INC,1059,236210.0,22.0000,15.7895,TEXAS,0.157895
1971-05-31,A P S INC,1059,236210.0,20.3750,-7.3864,TEXAS,-0.073864
1971-06-30,A P S INC,1059,236210.0,10.8750,6.7485,TEXAS,-0.466258
...,...,...,...,...,...,...,...
2019-09-30,RENESOLA LTD,279431,237130.0,1.4900,54.7409,CONNECTICUT,0.547409
2019-10-31,RENESOLA LTD,279431,237130.0,1.3149,-11.7517,CONNECTICUT,-0.117517
2019-11-30,RENESOLA LTD,279431,237130.0,1.4527,10.4799,CONNECTICUT,0.104799
2019-12-31,RENESOLA LTD,279431,237130.0,1.4150,-2.5952,CONNECTICUT,-0.025952
2020-01-31,RENESOLA LTD,279431,237130.0,1.3095,-7.4558,CONNECTICUT,-0.074558

In [51]:
len(df.conm.unique())

709

In [52]:
min(df.index)

Timestamp('1962-02-28 00:00:00')

In [53]:
max(df.index)

Timestamp('2020-01-31 00:00:00')

In [54]:
len(data.conm.unique())

952

In [79]:
STORMS.groupby(['EPISODE_ID']).agg({'TOTAL_DAMAGES': sum}).nlargest(10, 'TOTAL_DAMAGES')

            TOTAL_DAMAGES
EPISODE_ID
119753.0     3.825753e+10
68471.0      2.495909e+10
120357.0     1.826375e+10
131864.0     1.700000e+10
1198432.0    7.390300e+09
109514.0     6.983176e+09
130185.0     5.700849e+09
1178038.0    5.667000e+09
119746.0     5.290005e+09
1181034.0    4.923200e+09

In [82]:
STORMS.loc[STORMS.EPISODE_ID==119753].head()

,Date,STATE,DAMAGE_PROPERTY,DAMAGE_CROPS,TOTAL_DAMAGES,DEATHS_DIRECT,DEATHS_INDIRECT,EVENT_TYPE,EVENT_ID,EPISODE_ID
2017-08-25,2017-08-25,TEXAS,500000.0,0.0,500000.0,0,0,Tornado,720473,119753.0
2017-08-25,2017-08-25,TEXAS,100000.0,0.0,100000.0,0,0,Flash Flood,721321,119753.0
2017-08-25,2017-08-25,TEXAS,50000.0,0.0,50000.0,0,0,Tornado,720470,119753.0
2017-08-25,2017-08-25,TEXAS,500000.0,0.0,500000.0,0,0,Tornado,720461,119753.0
2017-08-25,2017-08-25,TEXAS,30000.0,0.0,30000.0,0,0,Tornado,720460,119753.0

Compare the performance of companies in Texas before and after 25/08/2017.

In [209]:
sectors = ['11']
df = stocks_data.loc[stocks_data.naics.astype('str').str.startswith(sectors[0])]
for sector in sectors[1:]:
    data = stocks_data.loc[stocks_data.naics.astype('str').str.startswith(sector)]
    df = pd.concat([df, data], axis=0)
df = df.loc[(df.State=='TEXAS')]

In [210]:
df = df[['conm', 'naics', 'prccm', 'trt1m']].loc[df.index.isin(['2016-09-30', '2017-07-31', '2017-09-30'])]

In [211]:
df

                         conm     naics   prccm    trt1m
Date
2016-09-30  NATURALSHRIMP INC  112512.0  0.4685 -24.4355
2017-07-31  NATURALSHRIMP INC  112512.0  0.3310  -6.7606
2017-09-30  NATURALSHRIMP INC  112512.0  0.1450 -23.6842

In [212]:
fundamentals

,gvkey,datadate,fyearq,fqtr,indfmt,consol,popsrc,datafmt,tic,conm,...,datacqtr,datafqtr,atq,niq,costat,gsubind,loc,naics,state,Date
0,1000,19660331,1966,1,INDL,C,D,STD,AE.2,A & E PLASTIK PAK INC,...,1966Q1,1966Q1,NaN,NaN,I,NaN,USA,NaN,NaN,1966-03-31
1,1000,19660630,1966,2,INDL,C,D,STD,AE.2,A & E PLASTIK PAK INC,...,1966Q2,1966Q2,NaN,NaN,I,NaN,USA,NaN,NaN,1966-06-30
2,1000,19660930,1966,3,INDL,C,D,STD,AE.2,A & E PLASTIK PAK INC,...,1966Q3,1966Q3,NaN,NaN,I,NaN,USA,NaN,NaN,1966-09-30
3,1000,19661231,1966,4,INDL,C,D,STD,AE.2,A & E PLASTIK PAK INC,...,1966Q4,1966Q4,NaN,0.164,I,NaN,USA,NaN,NaN,1966-12-31
4,1000,19670331,1967,1,INDL,C,D,STD,AE.2,A & E PLASTIK PAK INC,...,1967Q1,1967Q1,NaN,NaN,I,NaN,USA,NaN,NaN,1967-03-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1796721,331856,20191231,2019,4,INDL,C,D,STD,IMUX,IMMUNIC INC,...,2019Q4,2019Q4,65.955,-7.691,A,35201010.0,USA,325414.0,CA,2019-12-31
1796722,332115,20190331,2019,1,INDL,C,D,STD,ARMP,ARMATA PHARMACEUTICALS INC,...,2019Q1,2019Q1,NaN,-3.739,A,35201010.0,USA,325414.0,CA,2019-03-31
1796723,332115,20190630,2019,2,INDL,C,D,STD,ARMP,ARMATA PHARMACEUTICALS INC,...,2019Q2,2019Q2,34.916,-4.199,A,35201010.0,USA,325414.0,CA,2019-06-30
1796724,332115,20190930,2019,3,INDL,C,D,STD,ARMP,ARMATA PHARMACEUTICALS INC,...,2019Q3,2019Q3,29.304,-6.955,A,35201010.0,USA,325414.0,CA,2019-09-30
1796725,332115,20191231,2019,4,INDL,C,D,STD,ARMP,ARMATA PHARMACEUTICALS INC,...,2019Q4,2019Q4,25.451,-4.586,A,35201010.0,USA,325414.0,CA,2019-12-31

In [ ]:
prices = np.array(prices).reshape((int(len(prices)/5), 5))
prices = pd.DataFrame(prices, columns=['Company', 'NAICS code', 'Price on ' + start_date, 'Price on ' + mid_date, 'Price on ' + end_date])

In [ ]:
prices

In [ ]:
prices.loc[prices['Price on 2017-09-30'] < prices['Price on 2017-07-31']]

In [ ]:
prices.loc[prices['Price on 2017-09-30'] < prices['Price on 2016-09-30']]

In [59]:
def convert_stock_data(fin_data, sectors, start_date, end_date):
    
    if len(sectors) == 1:
        data = fin_data.loc[fin_data.naics.astype('str').str.startswith(sectors)]
    else:
        data = fundamentals.loc[(fundamentals.naics.astype('str').str.startswith(sectors[0]))]
        for sector in sectors[1:]:
            df = fundamentals.loc[(fundamentals.naics.astype('str').str.startswith(sector))]
            data = pd.concat([data, df], axis= 0)
        
    data = data[['gvkey', 'fqtr', 'tic', 'conm', 'atq', 'niq', 'loc', 'state', 'naics', 'Date']]
    data.index = data.Date
    data = data.loc[data['loc'] == 'USA'] #keep only companies with headquarters in the US
    comp_names = list(data.conm.unique()) 
    comp_gvkey = list(data.gvkey.unique())
    data_states = list(data.state.unique())
    data_stocks = pd.read_csv('/Users/allanbellahsene/Desktop/THESIS/DATA/WHARTON_DATABASE/Monthly_stocks.csv')
    stocks = []
    for keys in comp_gvkey:
        stock = data_stocks.loc[data_stocks.gvkey==keys]
        stocks.append(stock)

    stocks_data = pd.concat([stocks[0], stocks[1]], axis=0)
    for i in range(2, len(stocks)):
        stocks_data = pd.concat([stocks_data, stocks[i]], axis=0)
    stocks_data[['Date']] = stocks_data[['datadate']].applymap(str).applymap(lambda s: "{}/{}/{}".format(s[4:6],s[6:], s[0:4]))
    stocks_data.index = pd.to_datetime(stocks_data.Date)
    
    us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'American Samoa': 'AS',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Guam': 'GU',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY'
    }

    abbrev_us_state = dict(map(reversed, us_state_abbrev.items()))
    stocks_data['State'] = stocks_data['state'].map(abbrev_us_state)
    stocks_data.State = stocks_data.State.str.upper()
    stocks_data = stocks_data[['prccm', 'conm', 'trt1m', 'State']]
    stock_data = stocks_data.loc[(stocks_data.index>=start_date) & (stocks_data.index<=end_date)]
    
    return stock_data

In [60]:
def rankStockReturns(fin_data, sectors, start_date, end_date):
    stock_data = convert_stock_data(fin_data, sectors, start_date, end_date)
    States = list(stock_data.State.unique())
    rtn_per_state = []
    for state in States:
        df = stock_data.loc[stock_data.State==state]
        companies = list(df.conm.unique())
        n = len(companies)
        rtn_per_comp = []
        for comp in companies:
            subdf = df.loc[df.conm==comp]
            l = len(subdf)
            threshold = 0.1*l
            if len(subdf) - subdf.prccm.count() < threshold:
                log_r = np.log(subdf.prccm.shift(-1) / subdf.prccm).mean()
                rtn_per_comp.append(log_r)
            else:
                pass
        rtn_per_comp = [r for r in rtn_per_comp if abs(r) < 1000]
        r_per_state = np.mean(rtn_per_comp)
        rtn_per_state.extend((state, r_per_state, n))
    rtn_per_state = np.array(rtn_per_state).reshape((int(len(rtn_per_state)/3), 3))
    rtn_per_state = pd.DataFrame(rtn_per_state, columns=['State', 'Average Monthly Stock Return', 'Number of companies'])
    rtn_per_state['Average Monthly Stock Return'] = rtn_per_state['Average Monthly Stock Return'].astype('float')
    rtn_per_state['Number of companies'] = rtn_per_state['Number of companies'].astype('float')
    #rtn_per_state = rtn_per_state.loc[rtn_per_state['Number of companies'] >= 5]
    rtn_per_state = rtn_per_state.sort_values(by='Average Monthly Stock Return', ascending=False)
    rtn_per_state.reset_index(inplace=True)
    rtn_per_state.drop(columns=['index'], inplace=True)
    
    
    return rtn_per_state

In [62]:
%%time 
rankStockReturns(fin_data=fundamentals, sectors=['11', '22', '23'], start_date='1996-01-01', end_date='2020-01-01')

/anaconda3/lib/python3.7/site-packages/pandas/core/series.py:679: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

CPU times: user 49.4 s, sys: 7.3 s, total: 56.7 s
Wall time: 57.4 s

                   State  Average Monthly Stock Return  Number of companies
0             NEW MEXICO                      0.036181                  3.0
1           RHODE ISLAND                      0.015519                  2.0
2                  MAINE                      0.010289                  4.0
3             WASHINGTON                      0.008760                  9.0
4              LOUISIANA                      0.008562                  5.0
5          NEW HAMPSHIRE                      0.006354                  5.0
6                   IOWA                      0.005197                  7.0
7                   OHIO                      0.005134                 16.0
8                 OREGON                      0.004158                  6.0
9                  IDAHO                      0.002683                  3.0
10  DISTRICT OF COLUMBIA                      0.002588                  2.0
11           PUERTO RICO                      0.002280                  1.0
12              VIRGINIA                      0.002270                  8.0
13        SOUTH CAROLINA                      0.002014                  2.0
14        NORTH CAROLINA                      0.001959                 12.0
15          NORTH DAKOTA                      0.001188                  2.0
16              ARKANSAS                      0.000105                  1.0
17              DELAWARE                      0.000003                  5.0
18         MASSACHUSETTS                     -0.000386                 18.0
19                KANSAS                     -0.000917                  2.0
20           MISSISSIPPI                     -0.000959                  4.0
21              MICHIGAN                     -0.001684                 10.0
22               GEORGIA                     -0.002007                 10.0
23         WEST VIRGINIA                     -0.002865                  2.0
24              KENTUCKY                     -0.003318                  4.0
25             TENNESSEE                     -0.003574                  6.0
26            NEW JERSEY                     -0.004026                 24.0
27              ILLINOIS                     -0.004113                 19.0
28             WISCONSIN                     -0.004313                  6.0
29               INDIANA                     -0.004533                 12.0
30           CONNECTICUT                     -0.004759                 15.0
31              MISSOURI                     -0.005769                 11.0
32               ARIZONA                     -0.006438                 15.0
33                HAWAII                     -0.006723                  7.0
34              OKLAHOMA                     -0.006791                  7.0
35               FLORIDA                     -0.007411                 39.0
36          PENNSYLVANIA                     -0.008121                 24.0
37            CALIFORNIA                     -0.008182                 68.0
38              NEBRASKA                     -0.010290                  1.0
39          SOUTH DAKOTA                     -0.010904                  2.0
40                 TEXAS                     -0.012617                 67.0
41               ALABAMA                     -0.012978                  5.0
42              MARYLAND                     -0.013723                  6.0
43              NEW YORK                     -0.015869                 44.0
44              COLORADO                     -0.017019                 15.0
45                NEVADA                     -0.018447                  9.0
46             MINNESOTA                     -0.018780                 12.0
47                  UTAH                     -0.020520                  7.0
48               MONTANA                     -0.024102                  1.0
49               VERMONT                     -0.055390                  3.0

In [64]:
rankStockReturns(fin_data=fundamentals, sectors=['11', '22', '23'], start_date='1996-01-01', end_date='1997-01-01')

                   State  Average Monthly Stock Return  Number of companies
0             NEW MEXICO                      0.072048                  2.0
1                ALABAMA                      0.026153                  1.0
2            PUERTO RICO                      0.026153                  1.0
3                FLORIDA                      0.023406                 24.0
4            MISSISSIPPI                      0.017626                  3.0
5                 OREGON                      0.016774                  4.0
6              TENNESSEE                      0.016454                  2.0
7             WASHINGTON                      0.013541                  8.0
8                   IOWA                      0.012689                  6.0
9           SOUTH DAKOTA                      0.011627                  2.0
10               ARIZONA                      0.009212                  9.0
11              DELAWARE                      0.008581                  4.0
12          NORTH DAKOTA                      0.007731                  1.0
13                 TEXAS                      0.004057                 26.0
14          RHODE ISLAND                      0.002675                  2.0
15         WEST VIRGINIA                      0.002247                  1.0
16              ILLINOIS                      0.001729                 12.0
17              VIRGINIA                      0.001529                  8.0
18                 IDAHO                      0.001102                  2.0
19               GEORGIA                      0.000846                  6.0
20                  OHIO                     -0.000317                 14.0
21  DISTRICT OF COLUMBIA                     -0.000622                  2.0
22               INDIANA                     -0.001130                  9.0
23        NORTH CAROLINA                     -0.002508                  9.0
24         NEW HAMPSHIRE                     -0.002723                  5.0
25               MONTANA                     -0.003647                  1.0
26              MICHIGAN                     -0.003825                  7.0
27        SOUTH CAROLINA                     -0.004186                  2.0
28              NEW YORK                     -0.004586                 31.0
29           CONNECTICUT                     -0.005176                 11.0
30          PENNSYLVANIA                     -0.008408                 15.0
31              OKLAHOMA                     -0.011615                  5.0
32               VERMONT                     -0.012609                  2.0
33             WISCONSIN                     -0.014760                  6.0
34            NEW JERSEY                     -0.015526                 15.0
35              KENTUCKY                     -0.016006                  3.0
36              MARYLAND                     -0.016258                  5.0
37              MISSOURI                     -0.016709                  7.0
38             LOUISIANA                     -0.016741                  3.0
39                 MAINE                     -0.016874                  4.0
40         MASSACHUSETTS                     -0.019071                 12.0
41                HAWAII                     -0.020939                  6.0
42                NEVADA                     -0.021522                  5.0
43            CALIFORNIA                     -0.024424                 40.0
44             MINNESOTA                     -0.024635                 11.0
45              NEBRASKA                     -0.026396                  1.0
46              COLORADO                     -0.027704                  7.0
47                  UTAH                     -0.042027                  6.0
48                KANSAS                     -0.050644                  1.0

In [65]:
rank_states(data=STORMS, method='Total Loss', type_damage='TOTAL_DAMAGES', type_disaster='All', min_date='1996-01-01', max_date='1997-01-01', alpha=None)

             State   Total Loss
0   NORTH CAROLINA  920251000.0
1            TEXAS  543311100.0
2        WISCONSIN  189462700.0
3         VIRGINIA  185654000.0
4           OREGON  120200000.0
..             ...          ...
59          NEVADA          0.0
60   MASSACHUSETTS          0.0
61            UTAH          0.0
62            GUAM          0.0
63   LAKE SUPERIOR          0.0

[64 rows x 2 columns]

    First, sort US states by their climate risk trend. Then, go long in the stocks of companies located in the top 5 best states and short in the stocks of companies located in the top 5 worst states. Re-allocate yearly, after re-ranking the states. For this strategy to work, one has to find companies for which natural disasters have critical importance. Agricultural companies can be a good example.